# Data Science Tools and Ecosystem

# Introduction

In this notebook, **Data Science and Ecosystems** are summarized.

**Objectives:**

- Understand the key concepts and tools used in Data Science.
- Explore popular programming languages for Data Science such as Python and R.
- Learn about different types of data analysis and visualization techniques.
- Understand the importance of machine learning algorithms in data-driven decision-making.
- Gain hands-on experience with basic data manipulation and visualization libraries.

## Data Science Languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. MATLAB

## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch

## Data Science Tools
 | Data Science Tools |
 |--------------------|
 | Jupyter Notebook   |
 | RStudio            |
 | Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.
Arithmetic expressions are mathematical computations performed using operators such as '+', '-', '*', '/'. For example:

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Aditya Amin